{% extends 'login/vista_principal.html' %}
{% block titulo %}
Listado de Reportes
{% endblock titulo %}

{% block body %}
{% if reportes %}

<div class="card-default">
    <form action="" method="POST">
        <div class="row">
          <div class="col-auto mb-4 mb-md-0">
            <p class="pt-2"><strong>Listado de reportes</strong></p>
          </div>
          <div class="col-md-5 col-12 mb-4 mb-md-0">
            <div class="form-outline mb-4">
              <input type="text" class="form-control" placeholder="Buscar" name="buscar" value="" />
            </div>
          </div>
          <div class="col-auto mb-4 mb-md-0">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>  
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in reportes %}
                <tr>
                    <td>{{p.paciente}}</td>
                    <td>{{p.fecha}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>
                        <button class="btn btn-warning btn-xs btn-flat"onclick="abrir_modal_edicion('{% url 'editar_reporte' p.id %}')">
                            <i class="fas fa-edit"></i></button>
                        <a href= "#"onclick="eliminarreporte({{ p.id }})" class="btn btn-danger btn-xs btn-flat"><i
                                class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% else %}
<h1>No existen reportes Registrados</h1>
{% endif %}
<div class="modal face" id="creacion" role="dialog">
</div>
<div class="modal face" id="edicion" role="dialog">
</div>
<div class="card-footer">
    <button type="button" class="btn btn-primary btn-flat"onclick="abrir_modal_creacion('{% url 'crear_reporte' %}')"><i class="fas fa-plus"></i></i> Nuevo
        registro</button>
</div>

{% if is_paginated %}
<div class="mt-2">
    <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_nummber }}" class="page-link">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link">Previous</a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        
        <li class="page-item {% if page_obj.number == i %} active {% endif %}">
            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link">Next</a>
        </li>
        {% endif %}
    </ul>
</div>


{% endif %}
{% endblock body %}

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_creacion(url) {
        $('#creacion').load(url, function () {
            $(this).modal('show')
        });
    }
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function () {
            $(this).modal('show')
        });
    }
    function eliminarreporte(id) {
        Swal.fire({
            "title": "¿Estás seguro?",
            "text": "Una vez eliminado, no se puede restaurar",
            "icon": "warning",
            "showCancelButton" : true,
            "confirmButtonColor" : '#3085d6',
            "cancelButtonColor" : '#d33',
            "confirmButtonText" : 'Yes, delete it!'
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href ="EliminarDoctor"+id+"/"
                }  
        })
    }
  
</script>
{% endblock extrajs %}