<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/plantilla/icono.png">
    <link href="/static/stalin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stalin/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/stalin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/static/stalin/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/stalin/css/style.css" rel="stylesheet">
    <link href="/static/stalin/css/style-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css">
    <link rel="stylesheet" href="/static/lib/adminlte-3.0.4/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="/static/lib/sweetalert2-9.10.0/sweetalert2.all.min.js"></script>
    <script src="/static/lib/adminlte-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="/static/lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/adminlte-3.0.4/js/adminlte.min.js"></script>
    <script src="/static/lib/sweetalert2-9.10.0/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/static/lib/jquery-confirm-v3.3.4/jquery-confirm.min.css">
    <script src="/static/lib/jquery-confirm-v3.3.4/jquery-confirm.min.js"></script>
    <script src="/static/lib/js/functions.js"></script>
    <title>Contraseña</title>
</head>
<body class="login-img3-body">
    <div class="container">
        <form action="" class="login-form" method="POST">
            {% csrf_token %}
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group ">
                    {{form.username}}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>         
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block"><i class="fas fa-sign-in-alt"></i> Enviar
                        </button>

                    </div>        
                    <p class="text-center mt-2" style="font-size: 15px;">
                        Si deseas volver al login da un click <a
                        href="/login/">aqui </a>
                    </p>

        </form>

    </div>
    <script type="application/javascript">
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = new FormData(this);
                submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de resetear tu contraseña?', parameters, function () {
                    Swal.fire({
                        title: 'Notificación',
                        text: 'Se ha enviado un correo electrónico con los pasos a seguir para que pueda resetear su contraseña',
                        icon: 'success',
                        timer: 5000,
                        onClose: () => {
                            location.href = '/';
                        }
                    }).then((result) => {

                    });
                });
            });
        });
    </script>


</body>

</html>