<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
        <form action="{% url 'editar_cita' object.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit"><i class="fas fa-upload "></i>Actualizar</button>
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>