{% extends 'login/vista_principal.html' %}
{% block titulo %}
Listado de Citas
{% endblock titulo %}

{% block body %}

{% if citas %}
<div class="card-default">
    <form action="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
            <p class="pt-2"><strong>Listado de citas</strong></p>
          </div>
          <div class="col-md-5 col-12 mb-4 mb-md-0">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="buscar" id="form5Example2" class="form-control" />
              
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Buscador
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>

   
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Doctor</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in citas %}
                <tr>
                    <td>{{p.paciente}}</td>
                    <td>{{p.doctor}}</td>
                    <td>{{p.fecha}}</td>
                    <td>{{p.hora}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>
                        <button class="btn btn-warning btn-xs btn-flat"onclick="abrir_modal_edicion('{% url 'editar_cita' p.id %}')">
                            <i class="fas fa-edit"></i></button>
                        <a href="{% url 'eliminar_cita' p.id %}" class="btn btn-danger btn-xs btn-flat">
                            <i class="fas fa-trash-alt"></i> </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-flat"onclick="abrir_modal_creacion('{% url 'crear_cita' %}')"><i class="fas fa-plus"></i></i> Nuevo
                registro</button>
        </div>
    </div>
</div>
{% else %}
<h1>No existen Citas Registrados</h1>
{% endif %}
<div class="modal face" id="creacion" role="dialog">
</div>
<div class="modal face" id="edicion" role="dialog">
</div>
{% if is_paginated %}
<div class="mt-2">
    <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_nummber }}" class="page-link">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link">Previous</a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        
        <li class="page-item {% if page_obj.number == i %} active {% endif %}">
            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link">Next</a>
        </li>
        {% endif %}
    </ul>
</div>


{% endif %}

{% endblock body %}

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_creacion(url) {
        $('#creacion').load(url, function () {
            $(this).modal('show')
        });
    }
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function () {
            $(this).modal('show')
        });
    }
</script>
{% endblock extrajs %}