{% extends 'login/inicio.html' %}
{% block titulo %} Listado de Citas {% endblock titulo %}
{% block body %}
<div class="card-default">
 
    <div class="text-center">
        <p class="pt-2"><strong>Listado de Citas</strong></p>
      </div>
  
    <div class="card-default">
        <button type="button" href="#" class="btn btn-outline-primary btn-flat"onclick="abrir_modal_creacion('{% url 'crear_cita' %}')"><i class="fas fa-plus"></i></i> Nuevo
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-advance table-hover " style="width:100%" id="datatable">
            <thead class="text-uppercase bg-info">
                <tr class="text-white">
                    <th class="text-center">Paciente</th>
                    <th class="text-center">Doctor</th>
                    <th class="text-center">Tratamiento</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Hora</th>
                    <th class="text-center"><i class="fas fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                {% if citas %}
                {% for p in citas %}
                <tr>
                    <td class="text-center">{{p.paciente}}</td>
                    <td class="text-center">{{p.doctor}}</td>
                    <td class="text-center">{{p.tratamiento}}</td>
                    <td class="text-center">{{p.fecha|date:'d-m-Y'}}</td>
                    <td class="text-center">{{p.hora}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-outline-warning btn-flat"onclick="abrir_modal_edicion('{% url 'editar_cita' p.id %}')">
                                <i class="fas fa-edit"></i></a>
                            <a href="#"onclick="eliminarcita({{ p.id }})" class="btn btn-outline-danger btn-flat"><i
                                    class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registro de Citas </h1>
                {% endif %}
                <br>
            </tbody>
        </table>
       
    </div>
    <div class="modal face" id="creacion" role="dialog"></div>
    <div class="modal face" id="edicion" role="dialog"></div>
</div>
{% endblock body %}
