
<footer class="site-footer ">
    <div class="text-center">
      <p>
        &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
      </p>
      <a href="https://www.facebook.com/usuario "target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/usuario" target="_blank" class="fa fa-twitter"></a>
        <a href="https://plus.google.com/usuario" target="_blank" class="fa fa-google-plus"></a>
        <a href="https://linkedin.com/usuario" target="_blank" class="fa fa-linkedin"></a>  
    </div>
  </footer>
