<doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ffec4ec2ed.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/pantilla/style.css" />
        <link rel="shortcut icon" href="/static/stalin/img/login.png">
        <title>Registrar</title>
    </head>

    <body class="bg-dark-x">
    
        <div class="container">
            <br>
            <h2 class="center">NUEVO USUARIO</h2>
            <form method="POST" action="">
                {% csrf_token %}
                {{form }}
                
                <footer>
                    <button class="btn btn-outline-primary btn-flat" type="submit"><i class="fas fa-save "></i>
                        Guardar</button>
                    &nbsp;
                    <button class="btn btn-outline-danger btn-fla" href="/login/" value="ingresar"><i
                            class="fas fa-times"></i> Salir</button>
                </footer>
            </form>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
    </body>

    </html>