<!doctype html>
    <html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">

        <link rel="shortcut icon" href="/static/plantilla/icono.png">
        <link rel="stylesheet" href="/static/plantilla/style.css" />
        
        <title>Registrar</title>
    </head>

    <body class="bg-dark-x">
        <div class="container">
            <br>
            <h2 class="center">NUEVO USUARIO</h2>
            <form method="POST" action="">
                {% csrf_token %}
                {{form}}
                <br>
                <div class="d-flex justify-content-start">
                    <br>
                    <button class=" btn btn-outline-primary btn-flat" type="submit"><i class=" fas fa-save "></i>
                        Guardar</button>
                    &nbsp;

                 
                    <a href="/login/"  class="btn btn-outline-danger btn-flat"><i
                        class="fas fa-times"></i> Cancelar</a>

            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
    </body>

    </html>