<!doctype html>

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ffec4ec2ed.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/pantilla/style.css" />

</head>

<body class="bg-dark-x">
    <div class="container-md">
        <br>
        <h2 class="d-flex justify-content-center" >NUEVO USUARIO</h2>
        
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}

            <div class="d-flex justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" name="username" id="username" required="True" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Cantraseña</label>
                        <input type="password" name="password1" id="password1" required="True" class="form-control">
                    </div>
                </div>
            </div>
            <br>

            <div class="d-flex justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Confirmar Cantraseña</label>
                        <input type="password" name="password1" id="password2" required="True" class="form-control">
                    </div>
                </div>
            </div>
            <br>

            <div class="d-flex justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" name="celular" id="celular" required="True" class="form-control">
                    </div>
                </div>
            </div>
            <br>         

            <div class="d-flex justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Direcion</label>
                        <input type="text" name="direccion" id="direccion" required="True" class="form-control">
                    </div>
                </div>
            </div>
            <br>

            <div class="d-flex justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Cedula</label>
                        <input type="text" name="cedula" id="cedula" required="True" class="form-control">
                    </div>
                </div>
            </div>
            <br> 

            <div class="d-flex justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label >Correo</label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div>
            </div>
                <br>
            <div class="d-flex justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    {{ form.foto.erros }}
                    <label for="{{ form.foto.id_for_label}}">Foto</label>
                    {{ form.foto }}
                </div>

            </div>
            
            <br>
            <footer class="d-flex justify-content-center">
                <button class="btn btn-info" type="submit"><i class="fas fa-save "></i> Registrar</button>
                &nbsp;
                <button class="btn btn-danger" onclick="window.location='/login/'">Salir</button>
            </footer>

        </form>

    </div> 

  <!-- Optional JavaScript -->
  <!-- Popper.js first, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
</body>

</html>



